{
  "presets": ["es2015"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ],
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": ["rewire"]
    }
  }
}
