\*
!**mocks**/
!.circleci/
!patches/
!peril/
!scripts/
!src/

!\_schema.graphql
!\_schemaV2.graphql
!.env.test
!.eslintignore
!.eslintrc.json
!.nvmrc
!babel.config.js
!dangerfile.ts
!global.d.ts
!index.js
!jest.config.js
!jest.config.v2.js
!package.json
!renovate.json
!tsconfig.json
!wallaby.js
!yarn.lock
