version: 2.1

orbs:
  hokusai: artsy/hokusai@volatile
  horizon: artsy/release@volatile
  node: circleci/node@7.2.1

executors:
  node-executor:
    docker:
      - image: cimg/node:22.22.0

not_staging_or_release: &not_staging_or_release
  filters:
    branches:
      ignore:
        - staging
        - release

only_main: &only_main
  context: hokusai
  filters:
    branches:
      only: main

only_release: &only_release
  context: hokusai
  filters:
    branches:
      only: release

only_development: &only_development
  filters:
    branches:
      ignore:
        - staging
        - release
        - main

commands:
  setup_hokusai:
    steps:
      - run:
          name: Let hokusai modify /usr/local/bin
          command: sudo chmod -R 777 /usr/local/bin
      - hokusai/install-aws-iam-authenticator
      - run:
          name: Install hokusai
          command: |
            sudo apt update
            sudo apt install --assume-yes python3-pip
            pip install awscli --upgrade
            pip install hokusai
      - hokusai/configure-hokusai
  fix_corepack_permissions:
    # Only needed for jobs that don't use setup_hokusai (which already fixes /usr/local/bin permissions)
    steps:
      - run:
          name: Fix permissions for corepack
          command: sudo chmod -R 777 /usr/local/bin

jobs:
  test:
    executor:
      name: node/default
      tag: "22.5"
    parallelism: 6
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn-berry
      - run:
          name: Run Jest
          command: |
            yarn jest --ci --forceExit --logHeapUsage --runInBand --reporters=default --reporters=jest-junit --shard=$(expr $CIRCLE_NODE_INDEX + 1)/$CIRCLE_NODE_TOTAL
  type-check:
    executor:
      name: node/default
      tag: "22.5"
    steps:
      - checkout
      - fix_corepack_permissions
      - node/install-packages:
          pkg-manager: yarn-berry
      - run: yarn type-check
  ensure-schema-update:
    executor:
      name: node/default
      tag: "22.5"
    steps:
      - checkout
      - setup_hokusai
      - node/install-packages:
          pkg-manager: yarn-berry
      - run: scripts/ensure-schema-update.sh
  push-schema-changes:
    executor:
      name: node/default
      tag: "22.5"
    parallelism: 7
    steps:
      - checkout
      - setup_hokusai
      - node/install-packages:
          pkg-manager: yarn-berry
      - run:
          name: Push schema changes
          command: |
            # Run the Node.js script, passing total_nodes and node_index as arguments
            node scripts/push-schema-changes.js $CIRCLE_NODE_TOTAL $CIRCLE_NODE_INDEX
  deploy-cloudflare-workers-staging:
    executor:
      name: node/default
      tag: "22.5"
    steps:
      - checkout
      - fix_corepack_permissions
      - node/install-packages:
          pkg-manager: yarn-berry
      - run: yarn deploy-cloudflare-workers:staging
  deploy-cloudflare-workers:
    executor:
      name: node/default
      tag: "22.5"
    steps:
      - checkout
      - fix_corepack_permissions
      - node/install-packages:
          pkg-manager: yarn-berry
      - run: yarn deploy-cloudflare-workers

  create_or_update_review_app:
    executor: hokusai/beta
    steps:
      - hokusai/setup
      - add_ssh_keys
      - checkout
      - setup_remote_docker
      - hokusai/install-aws-iam-authenticator
      - hokusai/configure-hokusai
      - run:
          name: Install jq
          command: curl -L https://github.com/stedolan/jq/releases/download/jq-1.6/jq-linux64 > /usr/local/bin/jq
      - run:
          name: Make jq executable
          command: chmod u+x /usr/local/bin/jq
      - run:
          name: "Create or update review app"
          command: |
            set -x
            review_app_name=$(echo $CIRCLE_BRANCH | sed 's/review-app-//')
            kubectl config use-context staging
            namespaces=$(kubectl get namespace)
            echo
            if echo "$namespaces" | grep -qi "$review_app_name"; then
              ./scripts/update_review_app.sh $review_app_name
            else
              ./scripts/build_review_app.sh $review_app_name
            fi

  create_review_app_subdomain:
    executor: node-executor
    steps:
      - checkout
      - run:
          name: Create Cloudflare DNS namespace
          command: node scripts/create-review-app-subdomain.js

workflows:
  default:
    jobs:
      - test:
          <<: *not_staging_or_release

      - type-check:
          <<: *not_staging_or_release

      - ensure-schema-update:
          context: hokusai
          <<: *only_development

      # staging
      - hokusai/push:
          name: push-staging-image
          <<: *only_main

      - hokusai/deploy-staging:
          name: deploy-staging
          <<: *only_main
          project-name: metaphysics
          requires:
            - push-staging-image
            - type-check
            - test

      - push-schema-changes:
          <<: *only_main
          context: hokusai
          requires:
            - deploy-staging

      - deploy-cloudflare-workers-staging:
          <<: *only_main
          context: cloudflare
          requires:
            - deploy-staging

      # release
      - horizon/block:
          <<: *only_release
          context: horizon
          project_id: 18

      - hokusai/deploy-production:
          <<: *only_release
          requires:
            - horizon/block

      - deploy-cloudflare-workers:
          <<: *only_release
          context: cloudflare
          requires:
            - hokusai/deploy-production

      # Review Apps
      - create_or_update_review_app:
          context:
            - hokusai
          filters:
            branches:
              only: /^review-app-.*/
          pre-steps:
            - run:
                command: echo 'export DOCKER_BUILDKIT=1; export BUILDKIT_PROGRESS=plain; export COMPOSE_DOCKER_CLI_BUILD=1;' >> $BASH_ENV

      - create_review_app_subdomain:
          context:
            - cloudflare
          filters:
            branches:
              only: /^review-app-.*/
          requires:
            - create_or_update_review_app
