version: 2.1

orbs:
  codecov: codecov/codecov@1.2.3
  hokusai: artsy/hokusai@0.8.0
  horizon: artsy/release@0.0.1
  node: circleci/node@4.4.0
  yarn: artsy/yarn@5.1.3

not_staging_or_release: &not_staging_or_release
  filters:
    branches:
      ignore:
        - staging
        - release

only_master: &only_master
  context: hokusai
  filters:
    branches:
      only: master

only_release: &only_release
  context: hokusai
  filters:
    branches:
      only: release

only_development: &only_development
  filters:
    branches:
      ignore:
        - staging
        - release
        - master

jobs:
  push-schema-changes:
    executor:
      name: node/default
      tag: "12.14"
    steps:
      - run:
          name: Let hokusai modify /usr/local/bin
          command: sudo chmod -R 777 /usr/local/bin
      - checkout
      - hokusai/install-aws-iam-authenticator
      - run:
          name: Install hokusai
          command: |
            sudo apt update
            sudo apt install --assume-yes python-pip
            pip install awscli --upgrade
            pip install hokusai
      - hokusai/configure-hokusai
      - yarn/load_dependencies
      - yarn/install
      - yarn/save_dependencies
      - run:
          name: push schema changes
          command: node scripts/push-schema-changes.js

workflows:
  default:
    jobs:
      # for PRs
      - yarn/update-cache:
          <<: *only_development

      - yarn/type-check:
          <<: *not_staging_or_release

      # pre-staging
      - yarn/run:
          name: test-jest-v1
          <<: *not_staging_or_release
          script: "test:jest:v1"

      - yarn/run:
          name: test-jest-v2
          <<: *not_staging_or_release
          script: "test:jest:v2"

      # staging
      - hokusai/push:
          name: push-staging-image
          <<: *only_master
          requires:
            - test-jest-v1
            - test-jest-v2

      - hokusai/deploy-staging:
          name: deploy-staging
          <<: *only_master
          project-name: metaphysics
          requires:
            - push-staging-image

      - push-schema-changes:
          <<: *only_master
          context: hokusai
          requires:
            - push-staging-image
            - deploy-staging

      # release
      - horizon/block:
          <<: *only_release
          context: horizon
          project_id: 18

      - hokusai/deploy-production:
          <<: *only_release
          requires:
            - horizon/block
